
traveltrove/traveltrove.xcodeproj/project.xcworkspace/xcuserdata/dillianpica.xcuserdatad/UserInterfaceState.xcuserstate
traveltrove/.DS_Store
traveltrove/traveltrove.xcodeproj/project.xcworkspace/xcuserdata/dillianpica.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
traveltrove/.DS_Store
*.xcuserstate
